* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
#container{
  width: 1200px;
  margin:20px auto;
}
#header{
  background: red;
  text-align: center;
  width: 100%;
  height: 120px;
  line-height: 120px;
}
#sidebar{
  width: 30%;
  height: 600px;
  line-height: 600px;
  float: left;
  background: orange;
  text-align: center;
}
main{
  width: 70%;
  height: 600px;
  float: right;
  line-height: 150px;
  text-align: center;
  background-color: yellow;
}
#footer{
  clear: both;
  height: 100px;
  text-align: center;
  background-color: purple;
  line-height: 100px;
}
